# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/

# Operations
.coverage
htmlcov/

# MacOS
.DS_Store

# IDE
.vscode/
.idea/
.luma_global.json
test_out.txt
*.resolve
dummy_task.md
.luma_state.json
.luma_global.json
luma_failed_prompt_*.md
